/* tentativa de sobrepor conteudos com display: flex */

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.content {
  width: 90%;
  margin: 2% 5%;
}

.slide {
  padding: 0 !important;
  display: flex;
  position: relative;
}

.slide_item {
  display: flex;
  width: 100%;
  position: relative;
}

/* configuração do body */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #036b52;
}

/* código do coração que bate bate */
.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.content-coracao {
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  width: 500px;
  animation: pulsa 1s linear 0s infinite;
}
.content-coracao::after{
  content: "#BETRYBE";
  position: absolute;
  text-align: center;;
  width: 100%;
  font-size: 50px;
  line-height: 50px;
  color:white;
  top: calc(50% - 25px);
}
@keyframes pulsa {
  0% {
    transform: scale(0.9) rotate(0deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  70% {
    transform: scale(1.1) rotate(0deg);
  }
  80% {
    transform: scale(1.2) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
.square {
  transform: rotate(45deg);
  width: 250px;
  height: 250px;
  background: #2fc18c;
  position: absolute;
  top: 150px;
}
.circle:after,
.circle:before {
  content: "";
  position: absolute;
  width: 270px;
  height: 275px;
  border-radius: 50%;
  background: #2fc18c;
}
.circle:after {
  left: 25px;
  top: 30px;
}
.circle:before {
  right: 25px;
  top: 30px;
}

/* trabalho com os textos */

.topo {
  position: relative;
  display: flex;
  justify-content: center;
}

.meio {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  bottom: 33%;
}

.baixo {
  position: relative;
  display: flex;
  justify-content: center;
}